<footer>
    <div class="footer">
        <div class="footer_social_info">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-linkedin"></i>
        </div>
        <div class="footer_company">
            &copy; Airbnb private limited
        </div>
        <div class="footer_links">
            <a href="">Privacy</a>
            <a href="">Terms</a>
        </div>
    </div>
</footer>