<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Airbnb-Clone</title>
</head>

<body>
    <form action="/edit_listing" method="POST">
        <h1>Edit Listing</h1>
        <br>
        <input name="title" placeholder="Enter Title" type="text">
        <br><br>
        <textarea name="description" placeholder="Enter Description"></textarea>
        <br><br>
        <input name="image" placeholder="Enter Image URL/Link" type="text">
        <br><br>
        <input type="number" placeholder="Enter Price" name="price">
        <br><br>
        <input type="text" placeholder="Enter Location" name="location">
        <br><br>
        <input type="text" placeholder="Enter Counrty" name="country">
        <br><br>
        <button>Add</button>
    </form>
</body>

</html>