<% layout("/layouts/boilerplate") %>
<body>
    <h1>All Listings</h1>
    <!-- <form action="/listings/new" method="GET">
        <button>Create New Listing</button>
    </form> -->
    <ul>
        <%for(let listing of response_data){%>
            <li><a href="/listing/<%= listing._id %>">
                    <%=listing.title%>
                </a></li>
            <%}%>
    </ul>
</body>